header {
    display: grid;
    margin: 5px;
    .contenedorNav {
        width: 100%;
        height: 100%;
    }

    .ajusteHeader {
        display: flex;
        justify-content: end;

        ul {
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
    }
}

footer {
    margin: 5px !important;
    background-color: $colorPrimario;
    border-radius: 15px;
}