header {
    display: grid;
    margin: 20px;
    .contenedorNav {
        width: 100%;
        height: 100%;
    }

    .ajusteHeader {
        display: flex;
        justify-content: end;

        ul {
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
    }
}

footer {
    margin: 20px !important;
    height: 30vh;
    background-color: $colorTerciario;
    border-radius: 15px;
    position: relative;

    .backgroundSobreVideo--footer {
        width: 100%;
        height: 100%;
        background-color: $colorPrimarioTraslucido;
        z-index: 2;
        position: absolute;
        border-radius: 15px;
    }

    video {
        border-radius: 15px;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    .container {
        z-index: 3;
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
    }


    a {
        text-decoration: none;
        color: $colorSecundario;

    }

    .gridFooter {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        margin: 10px 0;
        
        .redesSociales {
            border-right: 2px solid $colorSecundario;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            padding-right: 20px;
        }

        .pagesFooter {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 20px;

            a:first-of-type {
                padding-top: 20px;
            }
            a:last-of-type {
                padding-bottom: 20px;
            }
        }
    }
}