.contenedorHeader {
    height: 95vh;
    position: relative;

    .contenidoNav {
        width: 100%;
        min-height: 10%;
        position: absolute;
        z-index: 5;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background: linear-gradient(to bottom, rgba(46, 167, 223, 1), rgba(46, 167, 223, 0));

        a {
            border-radius: 15px;
            padding: 5px;
            border: 1px solid $colorSecundario;
            font-weight: 700;
            transition: all 0.5s;

            &:hover { 
                transform: scale(1.1);
            }
        }   
    }

    .backgroundSobreVideo {
        width: 100%;
        height: 100%;
        background-color: $colorPrimarioTraslucido;
        z-index: 2;
        position: absolute;
        border-radius: 15px;
    }

    video {
        border-radius: 15px;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    

    .centrarHeading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);//centra el elemento
        z-index: 3;
    }

    h2 {
        background-color: $colorSecundarioTraslucido;
        border-radius: 5px;
        box-shadow: 0 0 10px $colorSecundario;
        color: $colorFuenteFondoOscuro;
    }
}

main {
    margin: 20px !important;
    border-radius: 15px;

    justify-content: center;

    h3:last-of-type {
        padding-bottom: 20px;
    }

    .contenedorBienvenidaMain {
        position: relative;
        height: 90vh;

        .backgroundSobreVideo--main {
            width: 100%;
            height: 100%;
            background-color: $colorTerciarioTraslucido;
            z-index: 2;
            position: absolute;
            border-radius: 15px;
        }

        video {
            border-radius: 15px;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        div {
            display: grid;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);//centra el elemento
            z-index: 3;
            background-color: $colorSecundarioTraslucido;
            box-shadow: 0 0 10px $colorSecundario;
            border-radius: 15px;
            color: $colorFuenteFondoOscuro;
            padding: 10px;

            a {
                padding: 3px;
                background-color: $colorTerciarioTraslucido;
                text-decoration: none;
                border-radius: 5px;
                color: $colorFuenteFondoOscuro;
                box-shadow: 0 0 5px $colorTerciarioTraslucido;
                display: flex;
                justify-content: center;

                transition: all 0.5s;

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 0 20px $colorFuenteFondoOscuro;
                }
            }
        }
    }

    .contenedorInfoMain {
        padding-top: 10px;
        border-radius: 15px;
        margin: 20px 0 0 0;
        background-color: $colorTerciario;

        .contenedorTecnologias {
            padding-top: 10px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;

            .gridTecnologias {
                display: flex; 
                padding: 100px 20px;
                margin: 70px 0;
                border-radius: 15px;

                &:nth-child(1) {
                    background-image: url("../assets/img/components.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 1px solid $colorSecundario;
                    box-shadow: inset 0 0 30px $colorSecundario;
                }
                &:nth-child(2) {
                    background-image: url("../assets/img/motherboard.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 1px solid $colorSecundario;
                    box-shadow: inset 0 0 30px $colorSecundario;
                }
                &:nth-child(3) {
                    background-image: url("../assets/img/codescreen.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 1px solid $colorSecundario;
                    box-shadow: inset 0 0 30px $colorSecundario;
                }
                &:nth-child(4) {
                    background-image: url("../assets/img/gears.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 1px solid $colorSecundario;
                    box-shadow: inset 0 0 30px $colorSecundario;
                }

                .contenidoTecnologias {
                    margin: 0 auto;
                    height: 300px;
                    width: 300px;
                    padding: 10px;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.836), rgba(128, 128, 128, 0.836));
                    border: 1px solid $colorSecundario;
                    box-shadow: 0 0 20px $colorSecundario;
                    border-radius: 15px;
                    transition: all 0.5s;
        
                    &:hover {
                        transform: scale(1.1);
                    }
        
        
                    p {
                        height: 10%;
                        font-weight: 700;
                    }
                    p:last-of-type {
                        text-align: end;
                    }
                    img {
                        padding: 5px;
                        height: 80%;
                        width: auto;
                        margin: 0 auto !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
    
        }

    }

}

